<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

<body>

<section class="__discover-banner">
  <div class="__discover-banner-text">
    <h1>{{ page.bannerTitle }}</h1>
    <p>{{ page.bannerText }}</p>
    <a href="/apis" class="__discover-banner-link">Get started</a>
    <br>
    <br>
  </div>
</section>

{%- include header.html -%}

<main class="content">

  <div class="__cards-container">
    <a href="/apis" class="__card __card--3-col">
      <i class="far fa-file-code __card-img" class="__card-img"></i>
      <div class="__card-container">
        <h2>API reference</h2>
        <p>Check out our full API Reference.</p>
      </div>
    </a>

    <a href="/apis" class="__card __card--3-col">
      <i class="fas fa-terminal __card-img" class="__card-img"></i>
      <div class="__card-container">
        <h2>API Console</h2>
        <p>Try our API online without any coding.</p>
      </div>
    </a>

    <a href="/sign-up" class="__card __card--3-col">
      <i class="far fa-edit __card-img" class="__card-img"></i>
      <div class="__card-container">
        <h2>Sign up</h2>
        <p>Sign up and start using the API with your own credentials.</p>
      </div>
    </a>

  </div>

  {{ content }}

</main>

</body>
</html>